runtime: php72
service: default

env_variables:
    APP_KEY: YOUR_APP_KEY
    APP_STORAGE: /tmp
    VIEW_COMPILED_PATH: /tmp
    SESSION_DRIVER: cookie
    DB_DATABASE: YOUR_DB_DATABASE
    DB_USERNAME: YOUR_DB_USERNAME
    DB_PASSWORD: YOUR_DB_PASSWORD
    DB_SOCKET: "/cloudsql/YOUR_CONNECTION_NAME"