runtime: php72
service: default

env_variables:
    APP_KEY: YOUR_APP_KEY
    APP_STORAGE: /tmp
    VIEW_COMPILED_PATH: /tmp
    SESSION_DRIVER: cookie
    DB_DATABASE: YOUR_DB_DATABASE
    DB_USERNAME: YOUR_DB_USERNAME
    DB_PASSWORD: YOUR_DB_PASSWORD
    MAIL_HOST: YOUR_MAIL_HOST
    MAIL_USERNAME: YOUR_MAIL_USERNAME
    MAIL_PASSWORD: YOUR_MAIL_PASSWORD
    MAIL_FROM_ADDRESS: YOUR_MAIL_FROM_ADDRESS
    MAIL_PORT: YOUR_MAIL_PORT
    DB_SOCKET: "/cloudsql/YOUR_CONNECTION_NAME"
    PASSPORT_PRIVATE_KEY: "YOUR_PASSPORT_PRIVATE_KEY"
    PASSPORT_PUBLIC_KEY: "YOUR_PASSPORT_PUBLIC_KEY"